<%= render 'nav' %>
<style>
    .table>thead>tr>th { text-align: center;}
    .img-frame {
        position: relative;
        width: 100%;
        padding-top: 100%;
        /* 宽高比例为1：1 */
    }

    .img-frame img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px wheat solid;
    }
</style>
<main class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="page-header">
      <h2>
        我的购物车
      </h2>
    </div>
    <table class="table table-hover" style="table-layout:fixed ; text-align: center; border-bottom: 1px solid #ddd;">
      <thead>
      <tr>
      <tr>
        <th style="width: 12%; "></th>
        <th style="width: 10%;">名称</th>
        <th style="width: 40%;">描述</th>
        <th style="width: 10%;">单价</th>
        <th style="width: 12%;">数量</th>
        <th style="width: 8%;">小计</th>
        <th style="width: 8%;">操作</th>
      </tr>
      </tr>
      </thead>
      <tbody style="overflow-y: auto;">
      <% for ci in @cart_items %>
        <tr id="good-1234">
          <td>
            <div class="img-frame">
              <%= image_tag ci.product.image %>
            </div>
          </td>
          <td class="good-name"><%= ci.product.name %></td>
          <td class="good-descrip"><%= ci.product.description %></td>

          <td>
            ￥ <span class="unit-price"><%= ci.product.price %></span>
          </td>

          <td>
            <%= link_to '-', decrease_cart_num_path(ci.product.id), class: "btn btn-sm sub-btn" %>
            <button type="button" class="btn btn-sm  disabled count" data-name='qty'><%= ci.product_number %></button>
            <%= link_to '+', add_cart_num_path(ci.product.id), class: "btn btn-sm add-btn" %>
          </td>

          <td>
            ￥<span class="subtotal"><%= ci.product.price * ci.product_number %></span>
          </td>

          <td>
            <%= link_to '删除', ci, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to '结算', user_checkout_url, class: "btn btn-success" %>
  </div>
  <div class="col-sm-2"></div>

</main>

