<%= render 'nav' %>
<div class="container">
  <h2 id="normal-cards" style="margin-top:30px;">My Favorites</h2>
  <br>
  <div class="row">
    <% for favorite in @favorites %>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="<%= image_url favorite.product.image %>" width="200px" height="200px" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= favorite.product.name %></h4>
            <p class="card-text"><%= favorite.create_time %></p>
            <a href="<%= unfavorite_product_path(favorite.product) %>" class="btn btn-warning">delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



