<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @seller.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @seller.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
